[ReleaseProperties]
; Unique mod ID. Leave blank for auto GUID (OriginalAuthor.Name)
GUID=

; The name of the mod, used for AutoGUID, FileName, and anything else which needs a file-friendly name. Leave blank to Auto-Fill from existing data.
PluginName=

; User friendly name of the mod. Used for thunderstore and BepinPlugin names visible to users. Leave blank to Auto-Fill from the PluginName.
UserPluginName=View Player Perks

; Thunderstore mod name/page link. Must only have characters [a-z A-Z 0-9 _]. Leave Blank to Auto-Fill based on UserPluginName. " " is auto replaced with "_".
ThunderstorePluginName=

; The current version of the mod. Used for file version, BepinPlugin, and Thunderstore manifest.
PluginVersion=1.0.2

; The version of VoidManager utilized by the mod.
VoidManagerVersion=1.2.0

; The version of Void Crew the mod is built for.
GameVersion=0.27.0

; The simple description of the mod, used for VoidManager and thunderstore manifest descriptions. Must be less than 250 Characters
PluginDescription=Allows players to see other players perk trees. Client Side.

; The original author of the mod, used for auto GUID.
PluginOriginalAuthor=Mest

; The various authors/editors of the mod. Leave blank to Auto-Fill from PluginOrignalAuthor
PluginAuthors=

; WebpageLink - Used by manifest for thunderstore page. Can be left blank.
WebpageLink=https://github.com/Void-Crew-Modding-Team/View-Player-Perks

; ThunderStore ID (https://thunderstore.io/c/void-crew/p/VoidCrewModdingTeam/VoidManager/ the section equivelant to 'VoidCrewModdingTeam/VoidManager'). Can be left blank, may be utilized by VoidManager for a future feature.
ThunderstoreID=

; Dependency Strings - Comma delineated, spacing or no spacing is okay. Leave [VoidManagerVersion] to Auto-Fill from VoidManagerVersion.
DependencyStrings= BepInEx-BepInExPack-5.4.2100, VoidCrewModdingTeam-VoidManager-[VoidManagerVersion]


; PreBuild Execution Params
[PrebuildExecParams]

; Throw error if icon.png does not exist.
IconError=false

; Throw error if CHANGELOG is not updated.
ChangelogError=true

; For output to project dir, use: "ProjectDir". For output to solution Dir, use: "SolutionDir". For output to both Dir, use "BothDir". Leave blank to disable. All other input will use the given file path.
ProjectReadmeOutPath=BothDir

; Build zip of all files at the end.
BuildZip=true